---
const { icon, class:classes } = Astro.props;
---

<div class={`bg-primary border-4 border-white rounded-2xl p-5 ${classes} benefit animate`}>
  <div class="relative">
    <img src={icon} class="benefit__icon" alt="Icono de celular">
  </div>
  <div class="benefit__text-wrapper">
    <slot/>
  </div>
</div>

<style> 
  .benefit {
    display: grid;
    grid-template-columns: 1.2fr 2fr;
    gap: 2.5rem;
    height: 200px;
  }

  .benefit:nth-child(2), .benefit:nth-child(3) {
    grid-template-columns: 1fr 1.5fr; 
  }

  .benefit__icon {
    position: absolute;
    top: -20%;
    left: -30%;
    max-width: 145%;
  }

  .benefit:nth-child(2) .benefit__icon {
    top: -35%;
    left: -50%;
    max-width: 230%;
  }

  .benefit:nth-child(3) .benefit__icon {
    top: -45%;
    left: -55%;
    max-width: 230%;
  }

  .benefit:nth-child(4) .benefit__icon {
    top: -40%;
    left: -35%;
    max-width: 160%;
  }

  .benefit__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: var(--text-xl)
  }

  @media (max-width: 64rem) {
    .benefit {
      grid-template-columns: 1.2fr 2fr!important;
    }

      .benefit__icon{
          top: -22% !important;
          left: 0% !important;
          max-width: 140% !important;
          width: 222px !important;
      }
    

     .benefit__icon {
      position: absolute;
      top: -20%;
      left: -30%;
      max-width: 125%;
      width: 200px;
    }
  }

@media (max-width: 40rem) {
    .benefit__text-wrapper {
      font-size: var(--text-lg);
    }

    .benefit__icon{
        top: 0% !important;
        left: -10% !important;
        max-width: 140% !important;
        width: 200px !important;
    }
  }

</style>