---
import BenefitCard from './BenefitCard.astro';
---


<section class="padding-0">
  <div class="bg-primary text-white p-4 flex flex-col items-center w-full wrapper">
    <h2 class="text-3xl md:text-4xl text-center animate">Beneficios de participar</h2>
  </div>
</section>

<section class="wrapper py-12 px-[6%]">
  <h2 class="text-white text-center md:mt-6 text-2xl md:text-3xl animate">Podrás entrar al sorteo de:</h2>
  
  <div class="flex flex-col items-center mt-6 md:mt-12 container">
    
    <div id="cards-grid" class="gap-x-4 gap-y-4 md:gap-y-10 w-full h-full">
        <BenefitCard 
          icon="/images/credit-card.webp"
          class="col-span-4 row-span-3"
        >
        <p class="">
          Una de las 9 <strong>tarjetas de regalo de Amazon</strong> con un valor de $2,000 pesos
        </p>
        </BenefitCard>
        <BenefitCard 
          icon="/images/cellphone.webp"
          class="col-span-3 row-span-3 col-start-5 "
        >
        <p>
          Un teléfono <strong>Samsung Galaxy S25</strong>
        </p>
        </BenefitCard>
        <BenefitCard 
          icon="/images/spaceship.webp"
          class="col-span-3 row-span-3 row-start-4"
        >
        <p>
          <strong>Te invitaremos a actividades</strong> para fortalecer la gestión de tu empresa
        </p>
        </BenefitCard>
        <BenefitCard 
          icon="/images/graphics.webp"
          class="col-span-4 row-span-3 col-start-4 row-start-4"
        >
        <p>
          Te compartiremos <strong>la infografía y el reporte</strong> con los resultados
        </p>
        </BenefitCard>

    </div>
  </div>
</section>

<style>
  #cards-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  @media (max-width: 64rem) {
    #cards-grid {
      display: flex;
      flex-direction: column;
    }
  }
</style>