---

const { href="https://asemmx.questionpro.com/t/Ab7XqZ6JmT", text="Contesta la encuesta", class: className =""} = Astro.props;

---

<a href={href} class=`text-xl md:text-4xl mt-12 inline-block text-center py-4 px-8 md:px-16 rounded-xl bg-accent text-white font-bold animate ${className} `> {text}</a>


<style>
  a {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: var(--transition-global);
    &:hover {
      transform: translateY(-.5rem);
      background-color: var(--color-accent-dark);
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    }
  }
</style>