---

---


<footer id="footer" class="w-full bg-white flex flex-col items-center justify-center py-12 px-4">
  <div class="flex flex-col justify-center max-w-[80%] items-center md:flex-row md:max-w-4xl gap-6"> 
    <a href="https://asem.mx/" target="_blank" title="ASEM - Asociación de Emprendedores de México">
      <img src="/images/aliados-1.webp" alt="Logo de ASEM" class="w-full max-w-4xl mb-6" />
    </a>
    <a href="https://www.ey.com/es_mx" target="_blank" title="EY México- Shape the future with confidence">
      <img src="/images/aliados-2.webp" alt="Logo de EY México" class="w-full max-w-4xl mb-6" />
    </a>
  </div>
</footer>