<section class="hero bg-primary flex  items-center justify-center text-center py-6 md:py-12">
  <div class="container mx-auto flex flex-col items-center justify-center text-center py-6 md:py-0">
    <a href="/" title="Ir a Inicio" class="flex justify-center wrapper">
      <img 
        class="max-w-[80%] md:max-w-3xl animate" 
        src="/images/logo-rem.webp"
        alt="Cartel con el texto ‘Radiografía del emprendimiento en México 2025’ en tipografía blanca sobre fondo azul" 
      />  
    </a>
  </div>
</section>