---

---


<section class="min-h-[50dvh] md:min-h-[60dvh] bg-secondary flex items-center justify-center text-center">
  <div class="container mx-auto flex flex-col items-center justify-center text-center">
    <h2 class="text-3xl md:text-5xl text-center font-normal animate">¡Gracias por hacer de México un mejor lugar para emprender y hacer negocios!</h2>
  </div>

</section>

<style>
  h2 {
    font-weight: 500;
    text-wrap: balance;
    line-height: 1.5;
  }
</style>

